.board-ctn {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
}

.players-list-ctn {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 500px;
  /* justify-content: space-evenly; */
}

.list-element-ctn {
  display: flex;
  flex-direction: row-reverse;
  max-height: 125px;
  min-width: 250px;
  gap: 7px;
  align-items: flex-end;
  /* align-items: center; */
  /*  */
}

.player-text-ctn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
}

.player-text {
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

.player-utilities-ctn {
  min-width: 70px;
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* transform: translate(100%, -8px); */
}

.utilities-input-ctn {
  display: flex;
  /* flex-direction: column; */
  gap: 3px;
}

button[datatype="utility"]:focus {
  filter: drop-shadow(0px 0px 5px #e16512);
  transition: filter 0.3s ease-in-out;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .board-ctn {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 472px) {
  .players-list-ctn {
    flex-direction: row !important;
  }
  .players-ctn {
    flex-direction: column !important;
  }
}
