.players-list-ctn-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.board-ctn {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  max-height: 75vh;
  overflow-y: hidden;
}

.players-list-ctn {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 500px;
}

.list-element-ctn {
  gap: 7px;
}

.board-card {
  display: flex;
  flex-direction: column;
  max-height: 125px;
  min-width: 250px;
  width: 300px;

  align-items: flex-start;
  justify-content: center;
  padding: 15px;
}

.player-text-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
  width: 100%;
  justify-content: space-between;
}

.player-text {
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 0px 0px 2px;
  display: flex;
}

.player-utilities-ctn {
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.utilities-input-ctn {
  display: flex;
  gap: 3px;
}

.addplayer-ctn {
  /* display: flex;
  flex-direction: column;
  max-height: 125px;
  min-width: 250px;
  width: 300px; */
  gap: 12px;
  /* align-items: flex-start; */
  /* justify-content: center; */
  /* padding: 15px; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  padding: 15px; */
}

button[datatype="utility"]:focus {
  filter: drop-shadow(0px 0px 5px #e16512);
  transition: filter 0.3s ease-in-out;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .board-ctn {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 472px) {
  .players-list-ctn {
    flex-direction: row !important;
  }
  .players-ctn {
    flex-direction: column !important;
  }
}
