.main-ctn {
  display: flex;
  flex-direction: row;
  min-width: 325px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.input-ctn {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-ctn {
  position: absolute !important;
  top: 0;
  left: var(--nav-width);
  margin: 0.4rem;
  height: 100%;
  width: fit-content;
  height: fit-content;
}

.figure-ctn {
  margin: 0;
  padding: 0.9rem 0.9rem 0.5rem 0.8rem;
  width: 300px;
  height: fit-content;
}

@media screen and (max-width: 560px) {
  .figure-ctn {
    width: 300px;
    padding: 0.8rem;
  }
}

@media screen and (max-width: 472px) {
  .figure-ctn {
    width: 250px;
    padding: 0.5rem 0.5rem;
  }
}
