:root {
  --dark-theme: #000000;
  --light-theme: #ffffde;
  --color-theme: #7272724d;
}
.dark-body {
  background-color: var(--dark-theme);
  color: var(--light-theme);
}
.light-body {
  background-color: var(--light-theme);
  color: var(--dark-theme);
}
