:root {
  --dark: #121212;
  --light: #ffffde;
  --color: #7272724d;
}
.dark-body {
  background-color: var(--dark);
  color: var(--light);
}
.light-body {
  background-color: var(--light);
  color: var(--dark);
}
