:root {
  --std-card-radius-default: 10px;
  --std-card-radius-donut: 50%;
  --linear-dark-card-bg: linear-gradient(41deg, rgb(16, 16, 18, 0.5) 0%, rgb(9, 9, 12, 1) 100%);
}

.grainy-donut-radius::before {
  border-radius: var(--std-card-radius-donut);
}

.grainy-default-radius::before {
  border-radius: var(--std-card-radius-default);
}

.global-grainy-default-radius {
  border-radius: var(--std-card-radius-default);
}

.global-grainy-donut-radius {
  border-radius: var(--std-card-radius-donut);
}

.lin-dark-donut-radius::after {
  border-radius: var(--std-card-radius-donut);
}

.lin-dark-default-radius::after {
  border-radius: var(--std-card-radius-default);
}

.grainy::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: url(/noise.svg);
  pointer-events: none;
  opacity: 0.3;
  z-index: -20;
}

.global-grainy {
  position: relative;
  transition: filter 0.2s;
}

.lin-dark::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--linear-dark-card-bg);
  pointer-events: none;
  z-index: -10;
}

.global-grainy:hover {
  filter: brightness(1.1);
  transition: filter 0.2s;
}
.shadow-ctn {
  box-shadow: 0px 1px 1px rgb(9, 9, 12);
}
