.grainy-donut-radius::before {
  border-radius: var(--std-card-radius-donut);
}

.grainy-default-radius::before {
  border-radius: var(--std-card-radius-default);
}

.global-grainy-default-radius {
  border-radius: var(--std-card-radius-default);
}

.global-grainy-donut-radius {
  border-radius: var(--std-card-radius-donut);
}

.lin-dark-donut-radius::after {
  border-radius: var(--std-card-radius-donut);
}

.lin-dark-default-radius::after {
  border-radius: var(--std-card-radius-default);
}

.grainy::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: url(/noise.svg);
  pointer-events: none;
  opacity: 0.3;
  z-index: -20;
}

.global-grainy {
  position: relative;
  transition: filter 0.2s;
  filter: brightness(1.05);
}

.grainy:hover {
  transition: filter 0.2s;
}

.brightness-15:hover {
  filter: brightness(var(--brightness-15));
}

.lin-dark::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--linear-dark-card-bg);
  pointer-events: none;
  z-index: -10;
  opacity: 0.8;
}

/* .global-grainy:hover {
  filter: scale(1.1);
  transition: filter 0.2s;
} */
.shadow-ctn {
  box-shadow: 0px 1px 1px rgb(9, 9, 12);
}
