.grainy::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: var(--std-card-radius);
  background: url(/noise.svg);
  pointer-events: none;
  opacity: 0.3;
  z-index: -20;
}
.global-grainy {
  position: relative;
  border-radius: var(--std-card-radius);
  /* overflow: hidden; */
  transition: filter 0.2s;
}

.lin-dark::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(41deg, rgb(16, 16, 18, 0.5) 0%, rgb(9, 9, 12, 1) 100%);
  pointer-events: none;
  z-index: -10;
  border-radius: var(--std-card-radius);
}

.global-grainy:hover {
  filter: brightness(1.1);
  transition: filter 0.2s;
}
.shadow-ctn {
  box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.5);
}
