@import "./card.css";
@import "./input.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
  color: var(--light-color);

  --light-color: #ffffff;
  --dark-color: #000000;
  --dark-color-lighter: #727272;
  --dark-color-lighter-2: #9b9b9b;
  --dark-icon: #609dff;
  --primary-color: #646cff;
  --other-primary-color: #213547;
  --std-height: 40px;
}

/* FOR DOCUMENTATION */
.cl {
  color: #f94144, #43aa8b, #4cc9f0, #3a0ca3, #f9c74f, #4d908e, #4361ee, #f3722c, #f72585, #4895ef,
    #560bad, #277da1, #3f37c9, #f8961e, #577590, #b5179e, #90be6d;
}

#root {
  margin: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  height: 100%;
}

*,
::after,
::before {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  outline: none;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background: var(--dark-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
p {
  all: unset;
}
#bottom {
  transform: translate(-5px, -10px);
}
.icon-stat-ctn {
  display: flex;
  place-content: center;
}
.star-head-ctn {
  display: flex;
  align-items: center;
}

.charts-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  .charts-ctn {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 472px) {
  body,
  #root {
    padding: 0.2em;
  }
  .players-list-ctn {
    flex-direction: row !important;
  }
  .players-ctn {
    flex-direction: column !important;
  }
  .chart-ctn {
    margin: 0px;
  }
}
