:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
  color: var(--light-color);

  --light-color: #ffffff;
  --dark-color: #242424;
  --dark-icon: #609dff;
  --primary-color: #646cff;
  --other-primary-color: #213547;
  --std-height: 40px;
  --std-card-radius: 7px;
  --color: #7272724d;
}

/* FOR DOCUMENTATION */
.cl {
  color: #f94144, #43aa8b, #4cc9f0, #3a0ca3, #f9c74f, #4d908e, #4361ee, #f3722c, #f72585, #4895ef,
    #560bad, #277da1, #3f37c9, #f8961e, #577590, #b5179e, #90be6d;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
  height: 100%;
}

*,
::after,
::before {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  outline: none;
}

body {
  /* margin: 2px; */
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at center, var(--dark-color) 50%, var(--dark-color) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
p {
  all: unset;
}

.grainy::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: var(--std-card-radius);
  background: url(/noise.svg);
  pointer-events: none;
  opacity: 0.3;
  z-index: -20;
}
.global-grainy {
  position: relative;
  border-radius: var(--std-card-radius);
  width: 240px;
  height: 125px;
  overflow: hidden;
  transition: filter 0.2s;
}

.lin-dark::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: linear-gradient(41deg, rgb(16, 16, 18, 0.5) 0%, rgb(9, 9, 12, 1) 100%);
  pointer-events: none;
  z-index: -10;
  border-radius: var(--std-card-radius);
}
.global-grainy:hover {
  filter: brightness(1.1);
  transition: filter 0.2s;
}
.shadow-ctn {
  box-shadow: 0px 1px 1px rgb(0, 0, 0, 0.5);
}
.icon-stat-ctn {
  display: flex;
  place-content: center;
}
.star-head-ctn {
  display: flex;
  place-content: center;
}

.charts-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* justify-content: space-around; */
  /* max-width: 450px; */
  /* padding: 10px 10px; */
}
.form__group {
  position: relative;
  /* padding: 0px 5px; */
  padding-left: 0px;
  padding-right: 5px;
  width: 100%;
}

.form__field--commun {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  /* font-size: 0.9rem; */
  font-weight: 700;
  min-width: 100px;
}
.form__field--commun::placeholder {
  color: transparent;
}
.form__field--commun:placeholder-shown ~ .form__label {
  cursor: text;
  top: 9px;
  font-size: 0.95rem;
}
.form__field--commun:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  width: 100%;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
  pointer-events: none;
  text-shadow: 0px 0px 2px;
}
.form__field--commun:focus ~ .form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.3s ease-out;
  font-size: 0.7rem;
}
/* reset input */
.form__field--commun:required,
.form__field--commun:invalid {
  box-shadow: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 472px) {
  body,
  #root {
    padding: 0.2em;
  }
  .players-list-ctn {
    flex-direction: row !important;
  }
  .players-ctn {
    flex-direction: column !important;
  }
  .chart-ctn {
    margin: 0px;
  }
}
