:root {
  --blocky-input-lbl-padding: 15px 20px;
  --blocky-input-lbl-transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);

  --blocky-input-lbl-bg-focus: rgb(20, 20, 26);
  --blocky-input-lbl-border-focus: #212121 solid 1px;
  --blocky-input-lbl-transform-focus: translateX(14px) translateY(-7.5px);
}

.form__group {
  position: relative;
  width: 100%;
}

.form__field--commun {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  /* font-size: 0.9rem; */
  font-weight: 700;
  min-width: 100px;
}
.form__field--commun::placeholder {
  color: transparent;
}
.form__field--commun:placeholder-shown ~ .form__label {
  cursor: text;
  top: 9px;
  font-size: 0.95rem;
}
.form__field--commun:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  width: 100%;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
  pointer-events: none;
  text-shadow: 0px 0px 2px;
}
.form__field--commun:focus ~ .form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.3s ease-out;
  font-size: 0.8rem;
}
/* reset input */
.form__field--commun:required,
.form__field--commun:invalid {
  box-shadow: none;
}

.input-box {
  position: relative;
}

.input-box input {
  padding: var(--blocky-input-lbl-padding);
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  width: 120px; /* var(--card-size-width) -10 * 2 */
}
.input-box label {
  position: absolute;
  left: 0;
  padding: var(--blocky-input-lbl-padding);
  pointer-events: none;
  font-size: 0.8em;
  transition: var(--blocky-input-lbl-transition);
  letter-spacing: 0.1em;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  font-size: 0.7em;
  transform: var(--blocky-input-lbl-transform-focus);
  padding: 0 5px;
  border-radius: 2px;
  background: var(--blocky-input-lbl-bg-focus);
  letter-spacing: 0em;
  border: var(--blocky-input-lbl-border-focus);
}
