:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-color: #ffffffde;
  --dark-color: #242424;
  --dark-icon : #609dff
  --primary-color: #646cff;
  --other-primary-color: #213547;
  --secondary-color: #454ce1;
  --tertiary-color: #96969c;

  --hover-color-vite: #646cffaa;
  --hover-color-react: #61dafbaa;

  --std-height: 40px;

  color-scheme: light dark;
  
  color: var(--light-color);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  border: 0px solid transparent;
  min-height: var(--std-height);
  padding: 0 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #646cff;
  transition: border-color 0.25s;
}
button:hover {
  filter: drop-shadow(#646cff 0 0 10px);
}




