:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
  color: var(--light-color);

  --light-color: #ffffffde;
  --dark-color: #242424;
  --dark-icon: #609dff;
  --primary-color: #646cff;

  --other-primary-color: #213547;
  --secondary-color: #e14512;
  --othernary-color: #e19f12;
  --tertiary-color: #bdbdc7;
  --hover-color-vite: #646cffaa;
  --hover-color-react: #5decf9;
  --std-height: 40px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  /* background-color: ; */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  /* height: 100%; */
  --color: #7272724d;
  background-color: var(--dark-color);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0; */
/* } */
button {
  all: unset;
}
/* button {
  display: flex;
  align-items: center;
  border: 0px solid transparent;
  min-height: var(--std-height);
  padding: 0 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #646cff;
  transition: border-color 0.25s;
}
button:hover {
  filter: drop-shadow(#646cff 0 0 10px);
} */

.cl {
  color: #f94144, #43aa8b, #4cc9f0, #3a0ca3, #f9c74f, #4d908e, #4361ee, #f3722c, #f72585, #4895ef,
    #560bad, #277da1, #3f37c9, #f8961e, #577590, #b5179e, #90be6d;
}
