:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-color: #ffffffde;
  --dark-color: #242424;
  --primary-color: #646cff;
  --other-primary-color: #213547;
  --secondary-color: #454ce1;
  --tertiary-color: #96969c;

  --hover-color-vite: #646cffaa;
  --hover-color-react: #61dafbaa;

  --std-height: 40px;

  color-scheme: light dark;
  background-color: var(--dark-color);
  color: var(--light-color);
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  min-height: var(--std-height);
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #4e56e8;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  filter: drop-shadow(#646cff 0 0 10px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

input {
  border: unset;
  height: var(--std-height);
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #96969c92;
  transition: border-color 0.25s;
  outline: none;
}
input:focus,
input:focus-visible {
  border-color: #646cff;
}
